<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
</head>
<body>

<h1>주문 목록</h1>

<div>
    <a href="/orders/add">
        주문 등록
    </a>
</div>

<br>

<table border="1">

    <tr>
        <th>주문번호</th>
        <th>유저번호</th>
        <th>가게번호</th>
        <th>총금액</th>
        <th>결제방식</th>
        <th>요청사항</th>
    </tr>

    <tr th:each="item : ${list}">

        <td>
            <a th:href="@{/orders/{id}(id=${item.orderId})}"
               th:text="${item.orderId}">
            </a>
        </td>

        <td th:text="${item.userId}"></td>

        <td th:text="${item.storeId}"></td>

        <td th:text="${item.totalPrice}"></td>

        <td th:text="${item.paymentMethod}"></td>

        <td th:text="${item.requests}"></td>

    </tr>

</table>

</body>
</html>