<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div>
			<h3>아이디 찾기</h3>
		</div>
		
		<div>
			<form method="post">
				<div>
					<div><label>전화번호:</label></div>
					<div><input name="phone" type="text"></div>
				</div>
				
				<div>
					<div><label>닉네임:</label></div>
					<div><input name="name" type="text"></div>
				</div>
				
				<div>
					<div><button>찾기</button></div>
					<div><a href="/">취소</a></div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>