<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>가게 정보 수정</title></head>
<body>
<h1>가게 정보 수정</h1>
<hr>
<form th:action="@{/store/update}" method="post">
<!--    테스트-->
    <!-- 반드시 변경 대상 Id를 hidden으로 같이 전송해야 쿼리가 성립합니다 -->
    <input type="hidden" name="storeId" th:value="${store.storeId}">

    <label>가게 이름: <input type="text" name="name" th:value="${store.name}" required></label><br><br>
    <label>카테고리:
        <select name="category">
            <option value="치킨" th:selected="${store.category == '치킨'}">치킨</option>
            <option value="한식" th:selected="${store.category == '한식'}">한식</option>
            <option value="중식" th:selected="${store.category == '중식'}">중식</option>
            <option value="일식" th:selected="${store.category == '일식'}">일식</option>
            <option value="양식" th:selected="${store.category == '양식'}">양식</option>
        </select>
    </label><br><br>
    <label>주소: <input type="text" name="address" th:value="${store.address}" required></label><br><br>
    <label>전화번호: <input type="text" name="phone" th:value="${store.phone}"></label><br><br>
    <label>상태:
        <input type="radio" name="status" value="OPEN" th:checked="${store.status == 'OPEN'}"> 영업중
        <input type="radio" name="status" value="CLOSE" th:checked="${store.status == 'CLOSE'}"> 준비중
    </label><br><br>
    <button type="submit">수정 완료</button>
</form>
<a th:href="@{/store/detail(store_id=${store.storeId})}">취소</a>
</body>
</html>