<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="defaultFooter" class="footer">
    <div class="footer-top">
        <ul class="footer-links">
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">위치기반서비스</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">회사소개</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
        <div class="sns-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="company-info">
            <p>주소 : 대전광역시 서구 둔산로 주식회사 BRORDER</p>
            <p>콜센터 주문 : 1588-0000 | 온라인 이용 문의 : 1566-0889</p>
            <p>Copyright © 2026 BRORDER. All rights reserved.</p>
        </div>
    </div>
</footer>
</html>