<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="gnbHeader" class="header" id="mainHeader">
    <a href="/" class="logo">
        BRORDER<span class="logo-dot"></span>
    </a>

    <ul class="nav-menu">
        <li><a href="/review/store/1">음식배달</a></li>
        <li><a href="#">포장주문</a></li>
        <li><a href="#">이벤트</a></li>
        <li><a href="#">브랜드</a></li>
        <li><a href="#">고객센터</a></li>
    </ul>

    <div class="header-right">
        <div th:if="${session.loginUserId == null}" class="auth-btn-group">
            <a href="/login" class="btn-auth btn-auth-login">로그인</a>
            <a href="/register" class="btn-auth btn-auth-register">회원가입</a>
        </div>

        <div th:if="${session.loginUserId != null}" class="auth-btn-group">
            <a href="/users/my/review" class="icon-btn" title="마이페이지">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="#" class="icon-btn" title="장바구니">
                <i class="fa-solid fa-basket-shopping"></i>
                <span class="i-badge">0</span>
            </a>
        </div>
    </div>
</header>
</body>
</html>